.pdf-preview {
    width: 70%;
    text-align: center;
    margin: 20px;
}
  
.pdf-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.2s;
}
  
.pdf-image:hover {
    transform: scale(1.05);
}